{% extends 'base.html' %}

{% block head %}

    <script src="static/index.js" defer></script>
    {% if user_id %}
        <script>
            let user_id = {{ user_id }};
        </script>
    {% else %}
        <script>
            let user_id;
        </script>
    {% endif %}

{% endblock %}



{% block content %}
<div id="app">
    <div id="stats">
        <p style="display: inline;">Score:</p>
        <p id="wpm" style="display: inline;">0wpm</p>
        <p style="padding-right: 20px; display: inline;"></p>
        <p style="display: inline;">Accuracy:</p>
        <p id="accuracy" style="display: inline;">0%</p>
    </div>
    <div id="text-container">
    </div>
    <div id="button-container">
        <button id="restart-button">
            <i class="fa-solid fa-redo" ></i>        
        </button>
    </div>
</div>
{% endblock %}