{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div id="app">
    <form action="/login" method="post">
        <div  class="mb-1">
            <input name="username" placeholder="username" required autofocus>
        </div>
        <div class="mb-1">
            <input name="email" type="email" placeholder="email" required>
        </div>
        <div class="mb-1">
            <input name="password" type="password" placeholder="password" required>
        </div>
        <button type="submit">Log in</button>
    </form>
</div>
{% endblock %}