{% extends 'base.html' %}

{% block head %}


<script>
    let user_id;
    {% if user_id %}
        user_id = {{ user_id }};
    {% endif %}
</script>
<script src="../static/profile.js" defer></script>

{% endblock %}



{% block content %}
<div id="app">
    <div id="username" >
        {{ username }}
    </div>
    <div>
        <div style="display: inline-block;">
            Best WPM: {{ max_wpm }}
        </div>
        <div>
            Average accuracy: {{ avg_accuracy }}
        </div>
    </div>
    <div>
        <button id="get_games_data_button" class="px-4">Get data about games</button>
    </div>
    <div id="games_data" style="display: inline-block;">
    </div>
</div>

{% endblock %}